doctype html
html(lang="en")
    head
        title='imFramework'
        link(rel='stylesheet', type='text/css', href='./common.css')
    body
        #root

        script(src='./enter.js')
        script(src='http://localhost:35813/livereload.js')
